.login-form-section {
    border: #FFC61A 1px solid;
    padding: 50px;
    /* border-radius: 10px !important; */
}

.login-form-area {
    background-color: #e9e9e9;
    padding: 50px;
    /* border-radius: 10px; */
}

.login-input {
    border: 1px solid #FFC61A !important;
    border-radius: 0px !important;
    padding: 10px 20px !important;
}

.login-btn {
    background: linear-gradient(#ffd066, #FFC61A) !important;
    color: #000 !important;
    font-weight: 600 !important;
    border: none !important;
    font-size: 13px !important;
    padding: 12px 30px !important;
    border-radius: 0px !important;
    margin-top: 20px;
    width: 100%;
}

/* ///// */
.radio-inputs {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    border: 1px solid #FFC61A;
    padding: 3px;
    border-bottom-width: 3px;
}

.radio-inputs .radio {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0 !important;
    font-size: 15px;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    padding: 9px 0;
    color: #DDD;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #FFC61A;
    font-weight: 600;
    color: #000;
}

.radio-inputs .radio input:checked+.name.success {
    background-color: #00bf4c !important;
    color: #FFF;
}

.radio-inputs .radio input:checked+.name.danger {
    background-color: #ca0000 !important;
    color: #FFF;
}

.hor-line{
    border-color: #DDD !important;
}


/* ///// */
.dont-acc-text {
    color: #DDD;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.dont-acc-text a {
    font-weight: 600;
    color: #FFC61A !important;
}

.dont-acc-text a:hover {
    text-decoration: underline !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.login-bg-area {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-area {
    width: 100%;
}

.login-bg-area .row {
    width: 50%;
}

.login-img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.login-head {
    text-align: center !important;
    font-weight: 700;
}


.login-form {
    border: dashed 2px #FFC61A;
    border-radius: 10px !important;
    background-color: #eaeaea;
}

.login-form input {
    border-radius: 10px !important;
    border-bottom-width: 3px !important;
    border-color: #FFC61A !important;
}

.login-form input::placeholder {
    color: #a3a3a3 !important;
}

@media (max-width: 991px) {
    .login-bg-area .row {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .login-form-area {
        padding: 20px;
    }
}

.custom-hr-margin {
    margin: 30px 0 !important;
}

.text-center {
    text-align: center !important;
}

.log-label{
    font-size: 14px !important;
    color: #DDD !important;
}

.font-weight-700{
    font-weight: 700 !important;
}